@font-face {
  font-family: "din-next";
  src: url("../assets/fonts/DIN-NEXT-LT-W23-MEDIUM.otf") format("opentype");
}
@font-face {
  font-family: "speed-kings";
  src: url("../assets/fonts/Speedkings-7BEqR.otf") format("opentype");
}
