.wrapper{
  background: #16234f;
  padding-top: 50px;
  padding-bottom: 20px;
  img{
    height: 80px;
  }
}

input, textarea{
  padding-top: 0.275rem;
  border-radius: 0;
  color:#02182f ;
  font-family: 'din-next', Courier, monospace;
}

button{
  font-family: 'din-next', Courier, monospace;
  background: #fbb821 !important;
  color:#02182f ;
  border-radius: 0;
  padding-top: 0.275rem;
}

.header{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  i{
    margin-right: 10px;
    font-size: 1rem;
    background: #fff;
    color:#02182f;
    margin: 0 10px;
    padding: 5px 7px;
    border-radius: 50%;
  }
  .fa-facebook{
    padding: 6px 10px;
  }
  span{
    margin-right: 10px;
    font-size: 2rem;
    text-transform: uppercase;
  }
  img{
    height: 28px;
    width: auto;
    margin: 0 10px;
  }
}
.address{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-family: 'din-next', Courier, monospace;
  margin-bottom: 1rem;

  i{
    font-size: 2rem;
  }
  .address-text{
    font-size: 1rem;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
}
.copy-rights{
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  padding: 0.7rem;
  img{
    height: 1.1rem;
    margin-left: 0.1rem;
  }
  a{
    color: #fff;
    text-decoration: none;
  }
}
.invalid-feedback, .valid-feedback{
  display: block;
  font-family: 'din-next';
}
