<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img src="assets/images/logo-white.svg" alt="">
        <form [formGroup] = "formGroup" class="mt-5">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="" id="" class="form-control" placeholder="First Name"
                formControlName="firstName" [class.is-invalid]="validation.isControlInvalid('firstName', formGroup)"
                [class.is-valid]="validation.isControlValid('firstName', formGroup)">
              <small class="invalid-feedback" *ngIf="validation.controlHasError('required', 'firstName', formGroup)">
                Please fill out this field.</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" name="" id="" class="form-control" placeholder="Last Name"
                formControlName="lastName"
                [class.is-invalid]="validation.isControlInvalid('lastName', formGroup)"
                [class.is-valid]="validation.isControlValid('lastName', formGroup)">
              <small class="invalid-feedback" *ngIf="validation.controlHasError('required', 'lastName', formGroup)">
                Please fill out this field.</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="email" name="" id="" class="form-control" placeholder="Email"
                formControlName="email"
                [class.is-invalid]="validation.isControlInvalid('email', formGroup)"
                [class.is-valid]="validation.isControlValid('email', formGroup)">
              <small class="invalid-feedback" *ngIf="validation.controlHasError('required', 'email', formGroup)">
                Please fill out this field.</small>
              <small class="invalid-feedback" *ngIf="validation.controlHasError('email', 'email', formGroup)">
                Must be an Email</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <textarea name="" id="" class="form-control" placeholder="Message" rows="5"
                formControlName="message"
                [class.is-invalid]="validation.isControlInvalid('message', formGroup)"
                [class.is-valid]="validation.isControlValid('message', formGroup)">
                </textarea>
                <small class="invalid-feedback" *ngIf="validation.controlHasError('required', 'message', formGroup)">
                  Please fill out this field.</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-end align-items-center">
              <button *ngIf="!loading$" (click)="onSubmit()" [disabled]="formGroup.invalid" class="btn btn-primary px-3">Send</button>
              <button *ngIf="loading$" class="btn btn-primary px-3"><span class="spinner-border text-light"></span></button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-5 offset-md-2">
        <div class="header">
          <span>follow us</span>
            <a href="https://www.instagram.com/ifa_egypt/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://fb.watch/v/9pGVuhnQ5/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.tiktok.com/@ifa_egypt"><img src="assets/images/tiktok_logo_icon_153040.svg" alt=""></a>
        </div>
        <div class="address">
          <!-- <a href="tel:+022267345">
            <i class="fa fa-phone" aria-hidden="true"></i> : +02 2267 345
          </a> -->
          <span class="address-text mt-2">
            <span class="font-weight-bold">Address : </span>
            <span class="font-weight-light">
              The 30 June Stadium El-Moshir Tantawy Axis, Al Hay Al Asher, Nasr City, Cairo Governorate
            </span>
          </span>
          <span class="address-text mt-2">
            <span class="font-weight-bold">Working Hours : </span>
            <span class="font-weight-light">
              8 PM - 10 PM
            </span>
          </span>
        </div>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13818.404035807856!2d31.3733037!3d30.019611!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x951ed587f6537518!2z2LPYqtin2K8gMzAg2YrZiNmG2YrZiA!5e0!3m2!1sen!2seg!4v1626239352913!5m2!1sen!2seg"
          width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="copy-rights">
  COPY RIGHTS &copy; {{year}} IFA - Designed and Developed By <a href="http://giraffecode.com/" class="px-1"> Giraffe Code</a>.
</div>
