<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="logo" src="assets/images/logo.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-0 ml-auto">
        <a class="nav-item nav-link" href="#about"> About us </a>
        <a class="nav-item nav-link" href="#programs"> Programs </a>
        <a class="nav-item nav-link" href="#admission"> Admission Process </a>
        <a class="nav-item nav-link" href="#sponsors"> PARTNERS
        </a>
      </div>
    </div>
  </div>
</nav>
