@import '../../../sass/variables.scss';

.navbar{
  background: rgba($color: #f2f7fb, $alpha: 0.8);
  position: fixed;
  width: 100%;
  z-index: 2;
  .nav-link{
    margin-left: 2rem;
    font-size: 2rem;
    color: $main-color-dark;
    text-transform: uppercase;
    &.active, &:hover{
      color: $secondary-color;
    }
  }
  .logo{
    height: 50px;
    width: auto;
  }
}
