@import '../../../../sass/variables.scss';

.wrapper{
  .story-wrapper{
    width: 40%;
    h2{
      font-size: 5rem;
      word-spacing: 8px;
    }
    .story-text{
      max-width: 400px;
      text-align: justify;
      padding-left: 10px;
    }
  }
  .img-wrapper{
    width: 60%;
  }
  .activity{
    margin-top: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'din-next';
    color: $secondary-color;
    img{
      margin-bottom: 10px;
    }
  }
}


@media only screen and (max-width: 768px) {
  .wrapper{
    flex-direction: column;
    .story-wrapper{
      width: 100%;
      padding-top: 40px !important;
      padding-left: 0 !important;
      h2{
        font-size: 3rem;
        margin-bottom: 20px !important;
        text-align: center;
      }
      .activities{
        flex-direction: column;
        .activity{
          &:last-child{
            margin-bottom: 20px;
          }
        }
      }
    }
    .img-wrapper{
      width: 100%;
    }

  }
}
