<div class="wrapper w-100 d-flex">
    <div class="story-wrapper py-3 pl-3 d-flex justify-content-center align-items-center flex-column">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ">
              <div class="story d-inline-flex justify-content-center flex-column w-100">
                <h2 class="mb-5">About US</h2>
                <p class="story-text text-capitalize">
                  <span class="text-uppercase">ifa</span> is owned by Z hub Sports  The  leading company for Sports management focusing on creating new generation of well-educated professional players where they can have  a chance to complete their study overseas along with professional practicing for football in addition to developing and enhancing their skills by having the latest techniques in training with full supervision` from our International partners.
                </p>
              </div>

              <div class="activities d-inline-flex justify-content-between w-100">
                <div class="activity text-uppercase">
                  <img src="assets/images/icon FOOTBALL DEVELOPMENT.png" alt="">
                  <small>FOOTBALL DEVELOPMENT</small>
                </div>
                <div class="activity text-uppercase">
                  <img src="assets/images/icon BOARDING SCHOOL.png" alt="">
                  <small>BOARDING SCHOOL</small>
                </div>
                <div class="activity text-uppercase">
                  <img src="assets/images/icon personal development.png" alt="">
                  <small>personal development</small>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="img-wrapper mr-0 ml-auto">
      <img class="w-100 h-auto" src="assets/images/football-photo.png" alt="">
    </div>
</div>
