@import '../../../../../sass/variables.scss';

.program {
  background: #fff;
  border-radius: 20px;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 50px;
    h4{
      text-transform: capitalize;
    }
    &::after {
      content: "";
      position: absolute;
      left: calc(50% - 10px);
      top: 100%;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #000;
      clear: both;
    }
  }
  p{
    color: $main-color-dark;
    font-size: 0.75rem;
  }
  .body{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
    text-transform: capitalize;
    min-height: 425px;
    p{
      font-size: 1.1rem;
      font-weight: 700;
    }

  }
}
.one{
  .header{
    background: #ff6414;
  &::after{
    border-top: 10px solid #ff6414;
  }
}
}
.two{
  .header{
    background: #18a501;
  &::after{
    border-top: 10px solid #18a501;
  }
}
}
.three{
  .header{
    background: #a900b1;
  &::after{
    border-top: 10px solid #a900b1;
  }
}
}
.four{
  .header{
    background: #e4d301;
  &::after{
    border-top: 10px solid #e4d301;
  }
}
}
