<swiper *ngIf="programsList.length" [slidesPerView]="1" [spaceBetween]="30" [slidesPerGroup]="1" [loop]="true"
  [navigation]="true" class="mySwiper" [breakpoints]="{
    '768': {
      slidesPerView: 2,
      spaceBetween: 40
    },
    '992': {
      slidesPerView: 4,
      spaceBetween: 50
    }
  }">
  <!-- <ng-template swiperSlide>
    <div class="program one">
      <div class="header d-flex justify-content-center align-items-center">
        <h4>Boys</h4>
      </div>
      <div class="p-3 text-center body">
        <p>
          1 Year program
        <br>
          players from 12 to 17
        </p>
        <ul class="pl-3" >
            <li> 4 club training days per week
            </li>
            <li> full training kit
            </li>
            <li> full clothing equipment kit
            </li>
            <li> training clinic with pro team
            </li>
            <li> participation in worldwide tournaments
            </li>
            <li> sports nutrition doctor
            </li>
            <li> physiotherapist sessions
            </li>
            <li> stress and medical test
            </li>
            <li> weekly video analysis sessions
            </li>
            <li> weekly player progress reports for parents
            </li>
        </ul>
      </div>

    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="program two">
      <div class="header d-flex justify-content-center align-items-center">
        <h4>girls</h4>
      </div>
      <div class="p-3 text-center body">
        <p>
          1 Year program
          <br>
          players from 12 to 17
        </p>
        <ul class="pl-3" >
            <li> 4 club training days per week
            </li>
            <li> full training kit
            </li>
            <li> full clothing equipment kit
            </li>
            <li> training clinic with pro team
            </li>
            <li> participation in worldwide tournaments
            </li>
            <li> sports nutrition doctor
            </li>
            <li> physiotherapist sessions
            </li>
            <li> stress and medical test
            </li>
            <li> weekly video analysis sessions
            </li>
            <li> weekly player progress reports for parents
            </li>
        </ul>
      </div>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <div class="program three">
      <div class="header d-flex justify-content-center align-items-center">
        <h4>juniors</h4>
      </div>
      <div class="p-3 text-center body">
        <p>
          1 Year program
        <br>
        players from 5 to 12
        </p>
        <ul class="pl-3" >
            <li> 4 club training days per week
            </li>
            <li> full training kit
            </li>
            <li> full clothing equipment kit
            </li>
            <li> training clinic with pro team
            </li>
            <li> participation in worldwide tournaments
            </li>
            <li> sports nutrition doctor
            </li>
            <li> physiotherapist sessions
            </li>
            <li> stress and medical test
            </li>
            <li> weekly video analysis sessions
            </li>
            <li> weekly player progress reports for parents
            </li>
        </ul>
      </div>
    </div>
  </ng-template> -->
  <ng-template swiperSlide *ngFor="let item of programsList; let i = index">
    <div class="program" [class.one]="i%4===1" [class.two]="i%4==2" [class.three]="i%4===3" [class.four]="i%4===0">
      <div class="header d-flex justify-content-center align-items-center">
        <h4>{{item.name}}</h4>
      </div>
      <div class="p-3 text-center body">
        <p>
          {{item.duration}}
          <br>
          players from {{item.player_from}} to {{item.player_to}}
        </p>
        <div [innerHTML]="item.description"></div>
        <!-- <ul class="pl-3" >
            <li>	Training kit
            </li>
            <li>	Weekly video analysis
            </li>
            <li>	Weekly video analysis
            </li>
            <li>	Sports nutrition doctor
            </li>
            <li>  Stress and medical test
            </li>
        </ul> -->
      </div>
    </div>
  </ng-template>
</swiper>
