<div class="wrapper d-flex align-items-center flex-column">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="mb-2 text-uppercase">Partners</h2>
      </div>
    </div>

    <div class="img-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12 p-5">

            <swiper *ngIf="partnersList.length" [slidesPerView]="1" [spaceBetween]="30" [slidesPerGroup]="1" [loop]="true" [navigation]="true"
              [loopFillGroupWithBlank]="true" [autoplay]="{
        delay: 2500,
        disableOnInteraction: false
      }" [breakpoints]="{
        '768': {
          slidesPerView: 2,
          spaceBetween: 40
        },
        '992': {
          slidesPerView: 4,
          spaceBetween: 50
        }
      }" class="mySwiper">
              <ng-template swiperSlide *ngFor="let item of partnersList">
                <img [src]="item.img" alt="logo" class="sponser">
              </ng-template>
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </div>
