.wrapper{
  background: url('../../../../assets/images/sponser-bg.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  min-height: 200px;
  padding: 60px;
  padding-top: 80px;
  .img-wrapper{
    width: 70%;
    padding: 0 30px;
    background: rgba($color: #fff, $alpha: 0.5);
    border-radius: 60px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    .sponser{
      height: auto;
      width: 100%;
      object-fit: contain;
      max-height: 100px;
    }
  }
  h2{
    font-size: 5rem;
    margin-left: 15%;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper{
    padding-left: 20px;
    padding-right: 20px;
    background-position: left;
    .img-wrapper{
      width: 100%;
      background: rgba($color: #fff, $alpha: 0.5);
      border-radius: 60px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      .sponser{
        height: auto;
        width: 100%;
        object-fit: contain;
        max-height: 100px;
      }

    }
    h2{
      font-size: 3.5rem;
      margin: 0 ;
      text-align: center;
      padding-bottom: 20px;
    }
  }

}
