
.wrapper{
  min-height: 100vh;
  background: url('../../../../assets/images/back-ground.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .form-wrapper{
    min-height: 100vh;
    width: 45%;
    margin-right: 0;
    margin-left: auto;
    clip-path: polygon(35% 0%, 100% 0%, 100% 100%, 0% 100%);
    background: rgba($color: #02182f, $alpha: 0.3);
    .header{
      width: 70%;
      text-align: center;
      font-size: 3rem;
      margin-top: 5rem;
    }
    .form{
      width: 70%;
      margin-right: 0;
      margin-left: auto;
    }
    button{
      font-family: 'din-next', Courier, monospace;
      background: #fbb821;
      color:#02182f ;
      border-radius: 0;
      padding-top: 0.275rem;
    }
    .socials{
      margin-bottom: 1rem;
      i{
        font-size: 2rem;
        background: #fff;
        color:#02182f;
        margin: 0 10px;
        padding: 5px 8px;
        border-radius: 50%;
      }
      .fa-facebook{
        padding: 5px 12px;
      }
      img{
        height: 43px;
        width: auto;
        margin: 0 10px;
      }
    }
  }
  hr{
    border-top: 2px solid rgba($color: #fbb821, $alpha: 0.6);
  }
}

input, select{
  padding-top: 0.275rem;
  border-radius: 0;
  background: rgba($color: #fff, $alpha: 0.6);
  color:#02182f ;
  font-family: 'din-next', Courier, monospace;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.invalid-feedback, .valid-feedback{
  display: block;
  font-family: 'din-next';
}

@media only screen and (max-width: 767px) {
  .wrapper{
    .form-wrapper{
      padding-top: 80px;
      clip-path:unset;
      width: 100%;
      .header{
        margin-top: 2rem !important;
        width: 100%;
      }
      .form{
        width: 100%;
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
}
