<div class="wrapper">
  <div class="form-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex flex-row-reverse">
          <div class="header">
            <h1 class="text-capitalize mb-3">
              Become a world football star player
            </h1>
          </div>
        </div>
      </div>

      <form [formGroup]="formGroup" class="form mb-3">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="" id="" class="form-control is-invalid" placeholder="First Name"
                formControlName="firstName" [class.is-invalid]="validation.isControlInvalid('firstName', formGroup)"
                [class.is-valid]="validation.isControlValid('firstName', formGroup)">
              <small class="invalid-feedback" *ngIf="validation.controlHasError('required', 'firstName', formGroup)">
                Please fill out this field.</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="" id="" class="form-control" placeholder="Second Name" formControlName="lastName"
                [class.is-invalid]="validation.isControlInvalid('lastName', formGroup)"
                [class.is-valid]="validation.isControlValid('lastName', formGroup)">
              <small class="invalid-feedback" *ngIf="validation.controlHasError('required', 'lastName', formGroup)">
                Please fill out this field.</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="email" name="" id="" class="form-control" placeholder="Email" formControlName="email"
                [class.is-invalid]="validation.isControlInvalid('email', formGroup)"
                [class.is-valid]="validation.isControlValid('email', formGroup)">
              <small class="invalid-feedback" *ngIf="validation.controlHasError('required', 'email', formGroup)">
                Please fill out this field.</small>
              <small class="invalid-feedback" *ngIf="validation.controlHasError('email', 'email', formGroup)">
                Must be an Email</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input type="number" name="" id="" class="form-control" placeholder="Mobile" formControlName="mobile"
                [class.is-invalid]="validation.isControlInvalid('mobile', formGroup)"
                [class.is-valid]="validation.isControlValid('mobile', formGroup)">
              <small class="invalid-feedback" *ngIf="validation.controlHasError('required', 'mobile', formGroup)">
                Please fill out this field.</small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="" id="" class="form-control" placeholder="Age" formControlName="age"
                [class.is-invalid]="validation.isControlInvalid('age', formGroup)"
                [class.is-valid]="validation.isControlValid('age', formGroup)">
              <small class="invalid-feedback" *ngIf="validation.controlHasError('required', 'age', formGroup)">
                Please fill out this field.</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <!-- <input type="text" name="" id="" class="form-control" placeholder="Gender" > -->
              <div class="form-group">
                <select class="form-control is-invalid" name="" id="" formControlName="gender"
                  [class.is-invalid]="validation.isControlInvalid('gender', formGroup)"
                  [class.is-valid]="validation.isControlValid('gender', formGroup)">
                  <option value="" disabled>Select Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
                <small class="invalid-feedback" *ngIf="validation.controlHasError('required', 'gender', formGroup)">
                  Please fill out this field.</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" name="" id="" class="form-control" placeholder="Request" formControlName="request"
                [class.is-invalid]="validation.isControlInvalid('request', formGroup)"
                [class.is-valid]="validation.isControlValid('request', formGroup)">
              <small class="invalid-feedback" *ngIf="validation.controlHasError('required', 'request', formGroup)">
                Please fill out this field.</small>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-6 d-flex justify-content-center align-items-center">
            <button *ngIf="!loading$" (click)="onSubmit()" [disabled]="formGroup.invalid" class="btn btn-primary px-3">Send</button>
            <button *ngIf="loading$" class="btn btn-primary px-3"><span class="spinner-border text-light"></span></button>
          </div>
        </div>
      </form>

      <div class="row  d-flex flex-row-reverse">
        <div class="col-xs-12 col-md-9">
          <hr>
        </div>
      </div>
      <div class="col-md-12 d-flex flex-row-reverse">
        <div class="header mt-3 d-flex flex-column">
          <h1 class="text-capitalize mb-3">
            Follow Us
          </h1>
          <div class="socials">
            <a href="https://www.instagram.com/ifa_egypt/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://fb.watch/v/9pGVuhnQ5/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.tiktok.com/@ifa_egypt"><img src="assets/images/tiktok_logo_icon_153040.svg" alt=""></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
