@import '../../../../sass/variables.scss';

.wrapper{
  background: #fff;
  padding: 80px 0 50px;
  min-height: 500px;
  position: relative;
  .img-wrapper{
    position: relative;
    width: 20%;
    img{
      position: absolute;
      height: 450px;
      left: -130px;
      top: 0;
      width: 120%;
      object-fit: contain;
    }
  }
  .admission-wrapper{
    width: 80%;
  }
  h2{
    font-size: 5rem;
    word-spacing: 8px;
  }
}

.process-step{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h4{
    font-size: 2.5rem;
  }
  .step-number{
    display: inline-block;
    font-family: 'din-next';
    font-weight: 700;
    font-size: 2rem;
    padding: 5px 20px 7px;
    border: 3px solid $secondary-color;
    border-radius: 50%;
    margin-bottom: 10px;
  }
}


@media only screen and (max-width: 767px) {
  .wrapper{
    padding-top: 220px;
    overflow: hidden;
    flex-direction: column-reverse;
    .img-wrapper{
      position: unset;
      width: 100%;
      padding: 20px 20px;
      img{
        width: 100%;
        height: auto;
        object-fit: contain;
        left: 0;
        top: -180px;
      }
    }
    .admission-wrapper{
      width: 100%;
    }
    h2{
      font-size: 3.5rem;
      word-spacing: 8px;
    }
    .process-step{
      margin-bottom: 30px;
      width: 100%;
    }
  }
}
