<div class="wrapper d-flex">
  <div class="img-wrapper">
    <img src="assets/images/football.gif" alt="">
  </div>
  <div class="admission-wrapper ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-inline-flex justify-content-center align-items-center flex-column w-100">
            <h2 class="mb-5 dark-main-color text-uppercase">admission process</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="process-step dark-main-color">
            <span class="step-number">1</span>
            <h4 class="text-uppercase">Contact </h4>
            <p class="dark-main-color text-center">
              Our places are limited so please register as early as possible.
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="process-step dark-main-color">
            <span class="step-number">2</span>
            <h4 class="text-uppercase">Test</h4>
            <p class="dark-main-color text-center text-capitalize">
              Players must pass stress and medical test to enroll in our academy.
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="process-step dark-main-color">
            <span class="step-number">3</span>
            <h4 class="text-uppercase">acceptance</h4>
            <p class="dark-main-color text-center">
              If you are accepted you will receive your acceptance letter within 2 working days.
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="process-step dark-main-color">
            <span class="step-number">4</span>
            <h4 class="text-uppercase">payment</h4>
            <p class="dark-main-color text-center">
              after receiving your acceptance letter you will send your official documents and downpayment to start your journey at IFA academy.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
