<app-header></app-header>
<app-hero></app-hero>
<app-story id="about"></app-story>
<app-programs id="programs"></app-programs>
<app-admission id="admission"></app-admission>
<app-sponser id="sponsors"></app-sponser>
<app-footer></app-footer>
