/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~swiper/swiper-bundle';
// @import '~ngx-toastr/toastr.css';
@import '~ngx-toastr/toastr';


@import 'sass/variables.scss';
@import 'sass/fonts.scss';


html{
  scroll-behavior: smooth;
}


body{
  background: $main-color-dark;
  color: #fff;
  font-family: 'speed-kings', Courier, monospace;
}
p{
  font-family: 'din-next', Courier, monospace;
  color: #bdc2c8;
}
h1,h2,h3{
  font-family: 'speed-kings', Courier, monospace;
  text-transform: uppercase;
}

.swiper-button-next, .swiper-button-prev{
  // color: $main-color-dark;
  color: #fff;
}

.dark-main-color{
  color: $main-color-dark;
}

.swiper-container{
  position: static;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: -15px;
  left: auto;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: -15px;
  right: auto;
}

.ngx-spinner-overlay{
  img{
    width: 100%;
  }
}

ul{
  padding: 0;
  margin: 0;
  display: block;
  text-align: left;
  color: $main-color-dark;
  font-family: 'din-next';
  font-size: 0.8rem;
  padding-left: 1rem;
}

.toast-message {
  font-family: 'din-next';
  text-transform: capitalize;
}
