<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="programs d-inline-flex justify-content-center align-items-center flex-column w-100 text-center">
          <h2 class="my-3">Programs</h2>
          <p class="programs-text text-capitalize text-white w-75 mb-5">
            <span class="text-uppercase">ifa</span> provides different programs throughout season. our programs are aimed at creating one of a kind
            of experiences for player to create football developmental and personal growth during their time with us
            . please check below to learn all about our options and which is the best fit for you.
          </p>
        </div>
        <div class="img-wrapper">
          <picture>
            <source media="(max-width: 767px)" srcset="assets/images/programs-cut.png">
            <img src="assets/images/programs.png" alt="">
          </picture>
        </div>
        <ul class="programs-list d-md-none d-flex justify-content-center align-items-center flex-column">
          <li> International Tournaments
          </li>
          <li> Scouting</li>
          <li> Performance analysis </li>

          <li> Scholarship</li>
          <li> Tryouts in Europe</li>
          <li> overseas campaign and eduction </li>
        </ul>

        <div class="list my-5 p-5" style="position: relative;">
          <app-programs-list></app-programs-list>
        </div>
      </div>
    </div>
  </div>
</div>
