@import '../../../../sass/variables.scss';

.wrapper{
  padding-top: 80px;
  .programs{
    h2{
      font-size: 5rem;
    }
  }
  img{
    width: 100%;
  }
  .programs-list{
    font-family: 'din-next';
    list-style: none;
    margin: 0;
    padding: 0;
    color: $secondary-color;
    li{
      padding: 10px 0;
      text-transform: uppercase;
      &:first-child{
        padding-top: 20px;
      }
      &:last-child{
        padding-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper{
    .programs{
      h2{
        margin-top: 40px !important;
        font-size: 3rem;
      }
    }
    .programs-text{
      text-align: justify;
    }
  }

}
